.Editor {
  display: flex;
  gap: 10px; 
  /* 행의 상태에서 gap이 적용됨 */
}

.Editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor button {
  cursor: pointer; 
  /* 마우스를 버튼에 올리면 커서가 포인터 모양이 됨 */
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}
